<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="dashboard-show row">
        <div class="all-tasks overflow-y-scroll">
					<% tasks.forEach(task=> { %>
						<% if (!task.done) { %>
							<div class="activity">
								<%= task.task %> -> <%= task.startTime %> &nbsp;- <%= task.endTime %>
											<br>
											<% if (task.date) { %>
												Date: <%= task.date.toLocaleDateString() %>
													<% } %>

														<div class="options">
															<form method="POST" action="/done/<%= task._id %>">
																<button class="btn .btn-outline-* dlt"><i
																		class="fa-regular fa-circle-check chk"></i>
																</button>
															</form>
															<a href="/edit/<%= task._id %>"><i
																	class="fa-solid fa-pen edt"></i></a>
															<form method="POST"
																action="/delete/<%= task._id %>?_method=DELETE">
																<button class="btn .btn-outline-* dlt">
																	<i class="fa-solid fa-trash-can"></i>
																</button>
															</form>
														</div>
							</div>
							<% } %>
								<% }) %>
				</div>
    </div>
</body>