<% layout("/layouts/boilerplate.ejs") %>

	<body>
		<div class="dashboard">
			<div class="left-container">
				<h6>Name</h6>
				<a href="/home">
					<div class="button-container">
						<div class="btn .btn-outline-*">
							<i class="fa-solid fa-house"></i>Home
						</div>
				</a>
				<br />
				<a href="/allTasks">
					<div class="btn .btn-outline-*">
						<i class="fa-solid fa-table-list"></i>Tasks
					</div>
				</a>
				<br />
				<a href="/add">
					<div class="btn .btn-outline-*">
						<i class="fa-regular fa-square-plus"></i> Add Task
					</div>
				</a>
				<br>
				<h6>Settings</h6>
				<a href="/profile">
					<div class="btn .btn-outline-*">
						<i class="fa-regular fa-user"></i></i>Profile
					</div>
				</a>
				<br />
				<a href="/logout">
					<div class="btn .btn-outline-*">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
					</div>
				</a>
				<br />
				<br />
				<br />
				<br />
				<hr>
				<div class="f-info">
					<div class="f-info-socials">
						<a href="https://github.com/anirbansantra748/TodoList"><i class="fa-brands fa-github"></i></a>
					</div>
					<div class="f-info-brand">
						&copy; TaskHive
					</div>
					<div class="f-info-links">
						<a href="/privacy">Privacy</a>
						<a href="/Terms">Terms</a>
					</div>
				</div>
				<!-- Add more buttons as needed -->
			</div>
		</div>
		<div class="mid-container">
			<div class="heading row mb-3">

				<div class="container-fluid">
					<!-- <div class="heading row mb-3"> -->
					<nav class="navbar">
						<!-- <div class="container-fluid"> -->
						<h3><b><i class="fa-solid fa-clipboard-list"></i>
								Dashboard</b></h3>
						<form class="d-flex" role="search">
							<input class="form-control me-2 lg-6" type="search" placeholder="Search Tasks" aria-label="Search">
							<button class="btn .btn-outline-*" type="submit"><i
									class="fa-solid fa-magnifying-glass"></i>Search</button>
						</form>
						<!-- </div> -->
					</nav>
					<!-- </div> -->
				</div>

			</div>

			<div class="display mt-3">
				<img class="display-img" src="https://i.imgur.com/9BnAi6X.png" alt="bg1" />
				<span class="lets-go-btn"><button class="btn .btn-outline-*">
						Let's Go<i class="fa-solid fa-arrow-right"></i></button></span>
			</div>
			<div class="completed  mt-1">
				<h5>Completed Tasks</h5>

				<div class="done-tasks overflow-y-auto">
					<% tasks.forEach(task=> { %>
						<a href="/edit/<%= task._id %>">
							<div class="activity">
								<s>
									<%= task.task %>
								</s>
							</div>
						</a>
						<% }) %>
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="completed-task">
				<span>234</span> <br />
				Completed tasks
			</div>
			<div class="todo-task">
				<span>34</span> <br />
				Todo Tasks
			</div>
			<div class="ongoing-task">
				<span>4</span> <br />
				Ongoing Tasks
			</div>


			<div class="weekly-activity">
				<h5>Weekly Activity</h5>
				<div class="black-box row">
					<div class="weekly-calendar row-2 mt-3">
						<span class="day">Mon</span>
						<span class="day">Tue</span>
						<span class="day">Wed</span>
						<span class="day">Thurs</span>
						<span class="day">Fri</span>
						<span class="day">Sat</span>
					</div>
					<div class="activities overflow-y-auto row-3  mt-3">
						<% tasks.forEach(task=> { %>
							<div class="activity">
								<%= task.task %> - <%= task.duration %>
										<div class="options">
											<i class="fa-solid fa-check"></i>
											<a href="/edit/<%= task._id %>"><i class="fa-solid fa-pen"></i></a>
											<form method="POST" action="/delete/<%= task._id %>?_method=DELETE">
												<button class="btn btn-danger btn-sm delete Btn"><i class="fa-solid fa-pen"></i></button>
											</form>
										</div>
							</div>

							<% }) %>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>