<% layout("/layouts/boilerplate.ejs") %>

	<body>
		<div class="dashboard">
			<div class="left-container">
				<h6>Name</h6>
				<a href="/home">
					<div class="button-container">
						<div class="btn .btn-outline-*">
							<i class="fa-solid fa-house"></i>Home
						</div>
				</a>
				<br />
				<a href="/allTasks">
					<div class="btn .btn-outline-*">
						<i class="fa-solid fa-table-list"></i>Tasks
					</div>
				</a>
				<br />
				<a href="/add">
					<div class="btn .btn-outline-*">
						<i class="fa-regular fa-square-plus"></i> Add Task
					</div>
				</a>
				<br>
				<h6>Settings</h6>
				<a href="/profile">
					<div class="btn .btn-outline-*">
						<i class="fa-regular fa-user"></i></i>Profile
					</div>
				</a>
				<br />
				<a href="/logout">
					<div class="btn .btn-outline-*">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>Logout
					</div>
				</a>
				<br />
				<br />
				<br />
				<br />
				<hr>
				<div class="f-info">
					<div class="f-info-socials">
						<a href="https://github.com/anirbansantra748/TodoList"><i class="fa-brands fa-github"></i></a>
					</div>
					<div class="f-info-brand">
						&copy; TaskHive
					</div>
					<div class="f-info-links">
						<a href="/privacy">Privacy</a>
						<a href="/Terms">Terms</a>
					</div>
				</div>
				<!-- Add more buttons as needed -->
			</div>
		</div>
		<div class="mid-container">
			<nav class="navbar navbar-expand-lg .bg-body mid">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
						<a class="navbar-brand" href="#">Dashboard</a>
						
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Search Tasks" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>

			<!-- <div class="display mt-3">
				<img class="display-img" src="https://i.imgur.com/9BnAi6X.png" alt="bg1" />
				<span class="lets-go-btn"><button class="btn .btn-outline-*">
						Let's Go<i class="fa-solid fa-arrow-right"></i></button></span>
			</div> -->
			<div class="allTasks  mt-1">
				<h5>All Tasks</h5>

				<div class="done-tasks overflow-y-scroll">
					<% tasks.forEach(task=> { %>
						<div class="activity">
							<%= task.task %> - <%= task.duration %>
									<div class="options">
										<i class="fa-solid fa-check chk"></i>
										<a href="/edit/<%= task._id %>"><i class="fa-solid fa-pen edt"></i></a>
										<form method="POST" action="/delete/<%= task._id %>?_method=DELETE">
											<button class="btn .btn-outline-* dlt"><i
													class="fa-solid fa-xmark"></i></i></button>
										</form>
									</div>
						</div>

						<% }) %>
				</div>
			</div>
		</div>
		<div class="right-container">
			<div class="completed-task">
				<span>234</span> <br />
				Completed tasks
			</div>
			<div class="todo-task">
				<span>34</span> <br />
				Todo Tasks
			</div>
			<div class="ongoing-task">
				<span>4</span> <br />
				Ongoing Tasks
			</div>


			<div class="completed">
				<h5>Completed Tasks</h5>
				<div class="black-box row">
					<div class="activities overflow-y-scroll row-3  mt-3">

						<% tasks.forEach(task=> { %>
							<a href="/edit/<%= task._id %>">
								<div class="activity">
									<s>
										<%= task.task %>
									</s>
								</div>
							</a>
							<% }) %>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>